.productos-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #f0f0f0; /* Fondo ligero para contrastar */
  padding: 20px;
}

.product-list,
.product-description,
.product-3d {
  flex: 1;
  min-width: 300px; /* Para hacer que las columnas sean responsivas */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden; /* Para asegurar que los contenidos no se desborden */
}

.product-3d {
  position: relative;
  height: 100vh; /* Ajusta esto según tus necesidades */
  background-color: #eaeaea; /* Fondo para mejorar el contraste */
}

button {
  margin: 5px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li input[type="text"] {
  flex-grow: 1;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.edit-icon:hover {
  color: #007bff;
}

p {
  position: relative;
}

p .edit-icon {
  position: absolute;
  right: 0;
  top: 0;
}
