.productos-container {
  display: flex;
  gap: 10px; /* Reducir el gap */
  background-color: #f0f0f0;
  padding: 10px; /* Reducir el padding */
}

.left-column {
  flex: 0 0 300px; /* Asegura que la columna izquierda mantenga su tamaño */
}

.center-column {
  flex: 1; /* Asegura que la columna central tome el espacio restante */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reducir el gap */
}

.right-column {
  flex: 1; /* Asegura que la columna derecha tome el espacio restante */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reducir el gap */
}

.product-description,
.product-list,
.product-3d {
  padding: 10px; /* Reducir el padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reducir el gap */
  justify-content: center; /* Ajuste para centrar las tarjetas */
}

.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: calc(33.333% - 20px); /* Aumentar el tamaño de la tarjeta */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 16px; /* Aumentamos el tamaño de la fuente */
  background-color: #fff; /* Aseguramos el fondo blanco */
  margin-bottom: 10px; /* Reducir el margen inferior */
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin: 16px 0 8px;
  font-size: 18px; /* Aumentamos el tamaño de la fuente */
  color: #333;
}

.product-card p {
  margin: 0;
  font-size: 16px; /* Aumentamos el tamaño de la fuente */
  color: #666;
}

.product-card ul {
  padding: 0;
  list-style-type: none;
  margin-top: 16px;
  text-align: left;
}

.product-card li {
  background-color: #f9f9f9;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.product-card li::before {
  content: "■"; /* Cuadro antes del texto */
  color: #007bff;
  margin-right: 8px;
}
