.productos-container {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}

.left-column, .center-column, .right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-column {
  min-width: 300px;
}

.product-description,
.product-list,
.product-3d {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.product-3d {
  position: relative;
  height: 100vh;
  background-color: #eaeaea;
}

button {
  margin: 5px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon, .delete-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.edit-icon:hover, .delete-icon:hover {
  color: #007bff;
}

p {
  position: relative;
}

p .edit-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 50px;
}

.product-filter {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  margin-bottom: 16px;
}

.filter-section {
  margin-bottom: 16px;
}

.filter-section label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.filter-section select,
.filter-section input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.range-inputs {
  display: flex;
  align-items: center;
}

.range-inputs input[type="range"] {
  flex: 1;
  margin: 0 8px;
}

.range-inputs input[type="number"] {
  width: 60px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: calc(33.333% - 32px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  margin: 16px 0 8px;
}

.product-card p {
  margin: 0;
}

.product-description {
  margin-top: 16px;
}

.product-description .edit-icon,
.icon-container .edit-icon,
.icon-container .delete-icon {
  cursor: pointer;
  margin-left: 8px;
}

.product-list,
.product-3d {
  margin-top: 16px;
}

.product-3d {
  text-align: center;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}
