.product-3d {
  position: relative;
  height: 100%;
  background-color: #eaeaea; /* Fondo ligero para mejorar el contraste */
  border-radius: 8px; /* Añade borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade sombra */
  overflow: hidden; /* Para asegurar que los contenidos no se desborden */
}

.controls-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9); /* Hacer el fondo un poco más opaco */
  padding: 20px; /* Aumentar el padding para mejor espacio */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Aumentar la sombra para mejor contraste */
  display: flex;
  flex-direction: column; /* Alinear los elementos en columna */
  gap: 10px; /* Espaciado entre los elementos */
  max-width: 90%; /* Asegura que no se salga del contenedor */
}

.controls-container label {
  color: #0056b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px; /* Ajustar el tamaño de la fuente */
  margin-bottom: 10px; /* Margen inferior para espaciado */
}

.controls-container input[type="range"] {
  flex: 1;
  margin-left: 10px; /* Espaciado entre el texto y el control deslizante */
}

.controls-container button {
  width: 15%;
  padding: 5px;
  border: none;
  background-color: #007bff; /* Color del botón */
  color: white;
  border-radius: 4px;
  font-size: 14px; /* Ajustar el tamaño de la fuente */
  cursor: pointer;
}

.controls-container button:hover {
  background-color: #0056b3; /* Color del botón al pasar el ratón */
}

.toggle-controls-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* Asegurar que el botón esté por encima de los controles */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.rotation-controls {
  display: flex;
  justify-content: space-between;
}

.rotation-controls button {
  width: 25%;
}

@media (max-width: 600px) {
  .controls-container {
    padding: 15px;
    max-width: 100%;
  }

  .controls-container label {
    font-size: 12px;
  }

  .controls-container button {
    font-size: 12px;
    padding: 8px;
  }

  .toggle-controls-button {
    font-size: 20px;
  }
}
